html,
body {
    width: 100%;
    height: 100%;
}

pre {
    background: #FFF;
}

pre code {
    margin: 0px;
    padding: 0px;
}

.homepage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #42B983;
    color: #FFF;
}

.homepage .hello {
    text-align: center;
}
